@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  /* add this */
  --font-sans: var(--font-nunito);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  /* now Tailwind uses Nunito */
  --font-sans: var(--font-nunito);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);

  /* important change */
  font-family: var(--font-nunito);
}
